---
layout: layouts/base
--- 
<section class="default__grid about">
    <div class="grid-cols-full big:grid-cols-half">
        <p> {{ content | safe }} </p>
    </div>
    <figure class="grid-cols-full big:grid-cols-half">
        <img src="/img/prof.jpeg" alt="{{ site.title }}">
    </figure>
</section>