<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{ site.title }} </title>
    <meta name="author" content="{{ site.author }}">
    <meta name="description" content="{{ site.description }}">
    <link rel="icon" href="{{ site.favicon }}" type="image/svg+xml" />  
    {% set css %}
        {% include "css/style.css" %}
    {% endset %}
    <style>
        {{ css | cssmin | safe }}
    </style>
   
</head>
<body>
    <header>
        {% include "partials/nav.html" %}
    </header>
    {% if image %}
    <img class="top-img" src="{{ index.index_image }}" alt="{{ index.index_image_alt }}"/>
    {% endif %}
    <main class="{{page.fileSlug}}-main">
        {{ content | safe }}
    </main>
   
    {% include "partials/footer.html" %}
    {% set js %}
        {% include "js/main.js" %}
    {% endset %}
    <script>
        {{ js | jsmin | safe }}
    </script>
</body>
</html>