---
layout: layouts/base
---

{{ content | safe }}


<!-- 

loop posts (see ogden studio blog)

    <picture src site.authorImg > Posted by site.author | date
        post.data.description
        post.data.images[0] (preview image)
        post.tags

 -->