--- 
layout: layouts/base 
---
<section class="stories">
  {{ content | safe }}
  {% for post in collections.stories %}
    <article class="default__grid">
      <div class="grid-cols-full big:grid-cols-half">
        <h1>
          <a href="{{ post.url | url }}">{{ post.data.title }}</a>
        </h1>
        <p class="italic">by {{ site.title }}</p>
      </div>
      <p class="grid-cols-full big:grid-cols-half">{{post.data.description | safe }}
        <a href="{{ post.url | url }}">[Read more]</a>
      </p>
    </article>
  {% endfor %}
</section>