---
layout: layouts/base
---

<img class="top-img" src="{{ image }}" alt="Royee Zvi Atadgy, Snow-covered landscape. Chester County, PA"/>

{{ content | safe }}

<div class="stories">
  {{ content }}
  {% for post in collections.stories %}
    <article>
      <h1>
        <a href="{{ post.url | url }}">{{ post.data.title }}</a>
      </h1>
      <p>{{post.data.description}} <a href="{{ post.url | url }}">[Read more]</a></p>
    </article>
  {% endfor %}
</div>