---
layout: layouts/base
---
<div class="published">
  {{ content }}
  {% for post in collections.published %}
    <article>
      <h1>
        <a href="{{ post.url | url }}">{{ post.data.title }}</a>
      </h1>
      <p class="italic">{{ post.data.publication }}</p>
    </article>
    <hr class="rounded">
  {% endfor %}
</div>